.clipSearchBar{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}



input, button {
    box-sizing: border-box;
    padding: 0;
    line-height: 1.2;
    height: 50%; 
    border: 1px solid black;
}

input {
    flex: 3;
    border-radius: 5px;
}

button {
    border-radius: 10px;
    flex: 1;
    cursor:pointer;
}

  
  